html, body {
    width: 332px;
    height: 300px;
}
#add_reminder_button {
    float: right;
}

#view_reminder_list_button {
    margin-top: 15px;
}

.mdl-tabs__tab {
    width: 50%;
}

.hide {
    display: none;
}